.button-universal-size {
  position: relative;
  padding: 10px 40px;
  line-height: 24px;
  font-size: 20px;
  border-radius: 30px;
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  outline: transparent;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.button-glitch,
.button-glitch:after {
  background: linear-gradient(45deg, transparent 5%, #f00 5%);
}

.button-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ATOMIC RENT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-glitch.animation:after {
  animation: 2.7s glitch ease-in-out infinite;
  animation-timing-function: steps(2, end);
}

.button-shine {
  background: #000;
  color: #fff;
  overflow: hidden;
  border: 1px solid #fff5;

  img {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(72%) saturate(58%) hue-rotate(101deg)
      brightness(111%) contrast(100%);
  }
}

.button-shine.tg {
  animation-delay: 2s;
}

.button-shine::after {
  position: absolute;
  top: -50%;
  left: 150%;
  content: "";
  width: 30px;
  height: 100px;
  background: linear-gradient(to left, #ffffff30, #ffffff, #ffffff30);
  box-shadow: 0px 0px 3px 0px #ffffff30;
  transform: skewX(-30deg);
  transition: all 1s ease-in-out;
  animation: shine 1.2s linear infinite;
  filter: contrast(100);
}

.button-shine.tg::after {
  animation-delay: 0.6s;
}

.gelatine {
  animation: gelatinePause 2.6s ease-in-out infinite;
}

.wobble {
  animation: wobbleX 2.6s ease-in-out infinite;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  4% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  8% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  12% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  16% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  20% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  24% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  28% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  32% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  36% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  40% {
    clip-path: var(--slice-1);
    transform: translate(0px, 1px);
    border-radius: 10px;
  }
}

@keyframes wobbleX {
  0% {
    transform: translateY(0);
  }

  5.5% {
    transform: translateY(10px);
  }

  11% {
    transform: translateY(-10px);
  }

  16.5% {
    transform: translateY(6px);
  }

  22% {
    transform: translateY(-6px);
  }

  27.5% {
    transform: translateY(2px);
  }

  33% {
    transform: translateY(-2px);
  }

  38.5% {
    transform: translateY(0);
  }
}

@keyframes gelatinePause {
  0% {
    transform: scale(1, 1);
  }

  7% {
    transform: scale(1.2, 0.8);
  }

  14% {
    transform: scale(0.8, 1.2);
  }

  21% {
    transform: scale(1.1, 0.9);
  }

  28% {
    transform: scale(0.9, 1.1);
  }

  35% {
    transform: scale(1, 1);
  }
}

@keyframes shine {
  from {
    left: -150%;
  }

  to {
    left: 150%;
  }
}

@keyframes pushshing {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(105%);
  }

  100% {
    transform: translateX(10px);
  }
}
